@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
    text-align: center;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    width: 256px;
    height: 430px;
    top: 0;
    left: 0;
}

h1 {
    color: #fff;
    font-family: "Permanent Marker";
	font-size: 1.7rem;
    font-weight: bold;
	margin: 30px 0;
	text-transform: uppercase;
}

.headline {
  transform: translate(-50%, -50%);
  font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}

h2 { 
  color: #666; 
}

h3 {
	font-size: 1rem;
	font-style: italic;
}

button {
    width: 10rem;
    height: 1.5rem;
    cursor: pointer;

    background-color: rgb(51, 151, 84);
    border-radius: 6px;
    border: 2px solid black;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),
		0 0 2px 1px rgba(0,0,0,0.1);
	
    font-size: 0.7rem;
    font-family: 'Roboto';
    color: #fff;

	transition: all 0.1s ease-in;
}

button:hover {
	transform: translateY(-1px);
}

footer {
	border-top: 1px solid #ccc;
	font-size: 0.9rem;
	margin: 20px 0 30px;
}

#quiz {
	background-color: #fff;
	box-shadow: 0 3px 2px 1px rgba(0,0,0,0.2),
		0 0 6px 3px rgba(0,0,0,0.05);
	margin: 0 auto 30px;
	padding: 20px;
	width: 80%;
}

#progress { 
  float: inherit;
  font-size: 0.7rem;
}

#score {
  float: inherit;
  font-weight: bold;
  font-size: 0.7rem;
}

.grid-container {
  margin: 0 auto;
  display: inline-grid;
  
  grid-template-rows: 1;
  grid-template-columns: 1;
  grid-gap: 0.4rem;
}

.grid-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 0.7rem;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  letter-spacing: 1px;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #0a043c,
    0 0 10px #0a043c,
    0 0 20px #0a043c,
    0 0 40px #bbbbbb,
    0 0 80px #bbbbbb,
    0 0 90px #bbbbbb,
    0 0 100px #bbbbbb,
    0 0 150px #bbbbbb;
}

@media only screen and (max-width: 256px) {
  .grid-container {
      margin: 0 auto;
      display: inline-grid;
      
      grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem;
      grid-template-columns: 100%;
      grid-gap: 0.45rem;
      color: #ffffff;
      padding-bottom: 1rem;
      padding-top: 1rem;
  }
} 